<div class="modal-text">

  <div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Resetear contraseña</h4>
  </div>

  <div class="modal-body">
    <div class="row" ng-form="restartForm">
    	<div class="col-lg-12">
    		<div class="form-group">
    			<label>Ingrese su email</label>
    			<input type="text" class="form-control" ng-model="data.email" required>
    		</div>
    	</div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()">Cancelar</button>
    <button type="button" class="btn btn-primary" ng-disabled="restartForm.$invalid" ng-click="save()">Enviar</button>
  </div>

</div>
