<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @user.name %>,</h1>
    <h2>¡Te enviamos las instrucciones para que puedas recuperar tu contraseña!</h2>
    Usuario: <b><%= @user.login %></b>
    <p>
      Se te ha enviado este mail para restablecer tu contraseña.
      Si no lo has solicitado, simplemente ignora este mensaje.
      Si lo hiciste, por favor has click en el siguiente link:
    </p>
    <%= link_to "¡Restablecer contraseña!", @url, style: "color: #78B2E4"%>
  </body>
</html>
